@import "tailwindcss";

:root {
  --background: #0a0a0a; /* Black background */
  --foreground: #d8b4fe; /* Purple foreground for text */
  --neon-pink: #ff06b7;
  --neon-blue: #00ddeb;
  --neon-green: #39ff14;
  --font-poppins: "Poppins", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #d8b4fe;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}

.text-neon-pink {
  color: var(--neon-pink);
  text-shadow: 0 0 5px var(--neon-pink), 0 0 10px var(--neon-pink);
}

.text-neon-blue {
  color: var(--neon-blue);
  text-shadow: 0 0 5px var(--neon-blue), 0 0 10px var(--neon-blue);
}

.text-neon-green {
  color: var(--neon-green);
  text-shadow: 0 0 5px var(--neon-green), 0 0 10px var(--neon-green);
}